# Alpha-Klima's API base URL
ALPHA_KLIMA_API_BASE_URL=https://platform.alpha-klima.com/prapi

# Organization owners can generate an API key from the API keys tab in the user menu at https://platform.alpha-klima.com
ALPHA_KLIMA_API_KEY=

# only if you want to run the bank_pipeline.ipynb notebook, to get one, email us at contact@alpha-klima.com
CLIENT_ID=